<nav class="navbar navbar-light bg-light">
    <div class="float-left">
        <span class="navbar-brand  h1 robotMono">UMBuys</span>
    </div>
    <div class = "float-right">
        <a id="lang" href="/" class="mr-5"><svg class="bi" width="20" height="20" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#globe"/>
          </svg></a>
        <a id="chat" href="/" class="ml-2"><svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chat-dots-fill"/>
        </svg></a>
        <button class="btn btn-sm btn-outline-primary ml-2" type="button">Login</button>
        <button class="btn btn-sm btn-primary ml-2" type="button">Register</button>
    </div>
</nav>